span {
    color: red;
}
.x {
    border: 10px dotted maroon;
    margin: 100px 200px 100px 150px;
    padding: 50px 30px 10px 20px;
    height: 100px;
    width: 100px;
}
.hh{
    display: flex;
    justify-content: center;
    align-items: center;
}
#y {
    display: flex;
    justify-content: end;
    align-content: flex-end;
}